body {
    font-family: Arial;
    background: #f2f2f2;
}

.box {
    width: 400px;
    margin: 100px auto;
    padding: 20px;
    background: white;
    text-align: center;
    border-radius: 8px;
}

textarea {
    width: 100%;
    height: 80px;
}

button {
    margin-top: 10px;
    padding: 8px 15px;
}

p {
    margin-top: 15px;
    font-weight: bold;
}
